<html>
<head>
<style>
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 8px;
}
svg {
  border: 1px solid black;
}
.overlay {
  fill: none;
  pointer-events: all;
}
.focus circle {
  fill: none;
  stroke: steelblue;
}
.navbar {
  height: 65px;
  background-color: #0253A4;
  margin-left: -30px;
  margin-top: -30px;
  margin-right: -30px;
}
.navbar2 {
  height: 20px;
  background-color: #0253A4;
  margin-left: -30px;
  margin-right: -30px;
}
img {
  height: 55px;
  margin-top: 18px;
  margin-left: 10px;
}
body {
  font-family: "Avenir Next";
  margin: 25px;
  background-color: #F2F2F2;
}
.title {
  color: white;
  font-size: 70px;
  margin-bottom: 10px;
}
.select_join {
  width: 140px;
  height: 28px;
  overflow: hidden;
  margin-right: 7px;
  border: #FEFEFE 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
  box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}
.select_join select {
  background: transparent;
  width: 140px;
  font-size:7pt;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 28px;
  -webkit-appearance: none;
}
.select_join select:focus {
  outline: none;
}
</style>

</head>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<body>
<div class="navbar">
<img src="http://www.logodesignlove.com/images/classic/nba-logo.jpg">
  <a class="title">NBA Finals - Game 5</a>
</div>
<div class="navbar2">
</div>

<div>
  <h2>Warriors Performance vs. Cavaliers Defenders</h2>
  <text>Select GSW player to visualize their performance and the impact of their defender:</text><br><br>
  <select class="select_join" id="offensiveplayer" onchange="middleStat()">
    <option value="Curry">Stephen Curry</option>
    <option value="Thompson">Klay Thompson</option>
    <option value="Iguodala">Andre Iguodala</option>
    <option value="Green">Draymond Green</option>
    <option value="Bogut">Andrew Bogut</option>
    <option value="Livingston">Shaun Livingston</option>
    <option value="Barbosa">Leandro Barbosa</option>
    <option value="Barnes">Harrison Barnes</option>
    <option value="Clark">Ian Clark</option>
    <option value="Ezeli">Festus Ezeli</option>
    <option value="Rush">Brandon Rush</option>
    <option value="Varejao">Anderson Varejao</option>
    <option value="Speight">Marreese Speights</option>
    <option value="Looney">Kevon Looney</option>
  </select>
  <select id="offensiveStat" class="select_join" onchange="middleStat()">
    <option value="fg">FG%</option>
    <option value="per">PTS</option>
  </select>
</div>

<br>

<div id="graph">
</div>

<script>
	// 48 value array from pranav.
	// 60x48 1D array from charlie.
	var playerColor = {
		"Kyrie Irving":"#ffffcc",
		"JR Smith":"#ffbf80",
		"Tristan Thompson":"#ff99ff",
		"Matthew Dellavedova":"#cce6ff",
		"Richard Jefferson":"#8cd9b3",
		"Iman Shumpert":"#FEFC6B",
		"Lebron James":"#003329",
		"James Jones":"#1a1aff",
		"Mo Williams":"#ff8000",
		"Kevin Love":" #ffe6ff",
		"Dahntay Jones":"#ff80bf",
		"Timofey Mozgov":"#99004d",
		"Channing Frye":"#ff4d4d",
		"Jordan McRae":"#d966ff",
		"Sasha Kaun":"#00cc00",
		"0": "#f2f2f2"
	}
	var height = 500;
	var width = 800;
	var padding = 40;
	var e = document.getElementById("offensiveplayer").value;
	console.log('http://localhost:5000/fgpct/' + e)
	console.log('http://localhost:5000/defense/' + e)
	getBuckets()
	var resArr;
	var defenderPerMin;
	function getVals() {
		console.log(resArr);
	}
	function getBuckets() {
		e = document.getElementById("offensiveplayer").value;
		d3.json('http://localhost:5000/defense/'+e, function(error,data){
			var resultArr = []
			console.log(data)
			var res = data["defense"]
			for (i=0;i<res.length;i++){
				if (res[i] != res[i+1]){
					resultArr.push({
						name:String(res[i]),
						min:i+1
					})
				}
			}
			resArr = resultArr
			defenderPerMin = res
			return [resultArr,res]
		})
	}
	populateGraph()
	function populateGraph() {
		e = document.getElementById("offensiveplayer").value;
		d3.json('http://localhost:5000/fgpct/' + e.toString(), function(error,data){
			//Set up logic here for parsing the data
			var element = d3.select("#svg");
			d3.selectAll("svg").remove();
			playerData = data["fgpct"];
			//Sets up the logic for displaying the graphs and plotting points on the graph
			var svg = d3.select("#graph").append("svg")
			.attr("height", height)
			.attr("width", width);
			var xScale = d3.scale.linear()
			.domain([0, 48])
			.range([padding, width-padding]);
			var xAxis = d3.svg.axis()
			.orient("bottom")
			.tickFormat(d3.format("d"))
			.ticks(48)
			.scale(xScale)
			.tickFormat(function (d){
				return d;
			});
			svg.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(0," + (height-padding) + ")")
			.call(xAxis);
			var yScale = d3.scale.linear()
			.domain([0,100])
			.range([height-padding,padding]);
			var yAxis = d3.svg.axis()
			.orient("left")
			.tickFormat(d3.format("d"))
			.ticks(20)
			.scale(yScale)
			svg.append("g")
			.attr("class", "axis")
			.attr("transform", "translate(" + padding + ",0)")
			.call(yAxis)
			svg.append("text")
			.attr("class", "x label")
			.attr("text-anchor", "end")
			.attr("x", width/2 + padding/2)
			.attr("y", height - 6)
			.text("Minute of game");

			svg.append("text")
			.attr("class", "y label")
			.attr("text-anchor", "end")
			.attr("y", 5)
			.attr("x", -height/2 - padding/2)
			.attr("dy", ".65em")
			.attr("transform", "rotate(-90)")
			.text("FG%");

			var x01 = 0
			var y01 = 0
			//Add vertical line buckets
			for (j=0;j<resArr.length;j++){
				var min = resArr[j]["min"]
				var name = resArr[j]["name"]
				var strokeColor = playerColor[name]
				svg.append("line")
				.attr("x1",xScale(min))
				.attr("x2",xScale(min)+1)
				.attr("y1",yScale(0))
				.attr("y2",yScale(100))
				.style("stroke-width", 1)
				.style("stroke", strokeColor)
				.style("opacity",1.0)
				.style("fill", "none")
				svg.append("rect")
				.attr("x",xScale(x01))
				.attr("y",xScale(0))
				.attr("width",xScale(min-x01))
				.attr("height",yScale(10))
				.style("fill",strokeColor)
				.style("opacity",1.0)
				x01 = min
				y01 = 0
			}
			//Plotting data
			//parsing the data from the tsv file, and plots x as years and y as the total number of deaths.
			var line = d3.svg.line()
				.x(function(d,i) {
					//should divide i by 60 to have the plot point
					return xScale(i/60); })
				.y(function(d,i) {
					return yScale(d*100); });
			var linePath = svg.append("path")
				.datum(playerData)
				.style("fill","none")
				.style("stroke", "#0253A4")
				.style("stroke-width",3)
				.attr("d", line);
			var focus = svg.append("g")
			.attr("class", "focus")
			.style("display", "none");
			focus.append("circle")
					.attr("r", 4.5);
			focus.append("text")
					.attr("x", 9)
					.attr("dy", ".35em");
	svg.append("rect")
			.attr("class", "overlay")
			.attr("width", width)
			.attr("height", height)
			.on("mouseover", function() { focus.style("display", null); })
			.on("mouseout", function() { focus.style("display", "none"); })
			.on("mousemove", mousemove);
	function mousemove() {
		var x0 = xScale.invert(d3.mouse(this)[0]);
		var yArrayIndex = Math.floor(x0*60);
		var y0 = playerData[yArrayIndex].toFixed(2);
		console.log("def",defenderPerMin)
		var defender = defenderPerMin[Math.floor(x0)]
		var width = defender.length * 15;
		console.log("width",width)
		if(defender == 0 || defender == "0"){
			defender = "Benched"
		}
		focus.attr("transform", "translate(" + xScale(x0) + "," + yScale(y0*100) + ")");
		focus.select("text").text(y0 + "\n" + defender);
		focus.insert("rect","text")
    .attr("width", defender.length * 15)
		.attr("transform", "translate(0,-10)")
    .attr("height", 20)
    .style("color", "white")
    .style("fill", "#f2f2f2");
	}
	})
}
function handleStatChange() {
	e = document.getElementById("offensiveplayer").value;
	d3.json('http://localhost:5000/pts/' + e.toString(), function(error,data){
		//Set up logic here for parsing the data
		var element = d3.select("#svg");
		d3.selectAll("svg").remove();
		playerData = data["pts"];
		//Sets up the logic for displaying the graphs and plotting points on the graph
		var svg = d3.select("#graph").append("svg")
		.attr("height", height)
		.attr("width", width);
		var xScale = d3.scale.linear()
		.domain([0, 48])
		.range([padding, width-padding]);
		var xAxis = d3.svg.axis()
		.orient("bottom")
		.tickFormat(d3.format("d"))
		.ticks(48)
		.scale(xScale)
		.tickFormat(function (d){
			return d;
		});
		svg.append("g")
		.attr("class", "axis")
		.attr("transform", "translate(0," + (height-padding) + ")")
		.call(xAxis);
		var yScale = d3.scale.linear()
		.domain([0,40])
		.range([height-padding,padding]);
		var yAxis = d3.svg.axis()
		.orient("left")
		.tickFormat(d3.format("d"))
		.ticks(20)
		.scale(yScale)
		svg.append("g")
		.attr("class", "axis")
		.attr("transform", "translate(" + padding + ",0)")
		.call(yAxis)
		svg.append("text")
		.attr("class", "x label")
		.attr("text-anchor", "end")
		.attr("x", width/2 + padding/2)
		.attr("y", height - 6)
		.text("Minute of game");

		svg.append("text")
		.attr("class", "y label")
		.attr("text-anchor", "end")
		.attr("y", 5)
		.attr("x", -height/2 - padding/2)
		.attr("dy", ".65em")
		.attr("transform", "rotate(-90)")
		.text("Points");

		var x01 = 0
		var y01 = 0
		//Add vertical line buckets
		for (j=0;j<resArr.length;j++){
			var min = resArr[j]["min"]
			var name = resArr[j]["name"]
			var strokeColor = playerColor[name]
			svg.append("line")
			.attr("x1",xScale(min))
			.attr("x2",xScale(min)+1)
			.attr("y1",yScale(0))
			.attr("y2",yScale(10))
			.style("stroke-width", 1)
			.style("stroke", strokeColor)
			.style("opacity",1.0)
			.style("fill", "none")
			svg.append("rect")
			.attr("x",xScale(x01))
			.attr("y",xScale(0))
			.attr("width",xScale(min-x01))
			.attr("height",yScale(4))
			.style("fill",strokeColor)
			.style("opacity",1.0)
			x01 = min
			y01 = 0
		}
		//Plotting data
		//parsing the data from the tsv file, and plots x as years and y as the total number of deaths.
		var line = d3.svg.line()
			.x(function(d,i) {
				//should divide i by 60 to have the plot point
				return xScale(i/60); })
			.y(function(d,i) {
				return yScale(d); });
		var linePath = svg.append("path")
			.datum(playerData)
			.style("fill","none")
			.style("stroke", "#0253A4")
			.style("stroke-width",3)
			.attr("d", line);
		var focus = svg.append("g")
		.attr("class", "focus")
		.style("display", "none");
		focus.append("circle")
				.attr("r", 4.5);
		focus.append("text")
				.attr("x", 9)
				.attr("dy", ".35em");
svg.append("rect")
		.attr("class", "overlay")
		.attr("width", width)
		.attr("height", height)
		.on("mouseover", function() { focus.style("display", null); })
		.on("mouseout", function() { focus.style("display", "none"); })
		.on("mousemove", mousemove);
function mousemove() {
	var x0 = xScale.invert(d3.mouse(this)[0]);
	var yArrayIndex = Math.floor(x0*60);
	var y0 = playerData[yArrayIndex].toFixed(2);
	console.log("def",defenderPerMin)
	var defender = defenderPerMin[Math.floor(x0)]
	var width = defender.length * 10;
	console.log("width",width)
	if(defender == 0 || defender == "0"){
		defender = "Benched"
	}
	focus.attr("transform", "translate(" + xScale(x0) + "," + yScale(y0) + ")");
	focus.select("text").text(y0 + "\n" + defender);
	focus.insert("rect","text")
	.attr("width", defender.length * 15)
	.attr("transform", "translate(0,-10)")
	.attr("height", 20)
	.style("fill", "#f2f2f2");
}
	})
}
function middleStat() {
	var temp = document.getElementById("offensiveStat").value;
	getBuckets()
	if(temp == "per"){
		handleStatChange()
	}
	else{
		populateGraph()
	}
}
</script>
</body>
</html>
